* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  padding: 0;
  width: 80%;
  margin: auto;

}

.container {
  text-align: center;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.page-container {
  background-color: rgba(255, 255, 255, 0.07);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.portrait-container {
  border: #333;
  display: flex;
}

.portrait-card {
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 5px;
  text-align: center;
  max-height: 550px;
  max-width: 800px;
  padding: 20px;
  margin-top: 0;
  margin-right: 30px;
}

.portrait {
  max-width: 100%;
  height: 700px;
  border-radius: 8px;
  display: block;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  background-color: #333;
  margin-left: 100px;
  margin-right: auto;

}

.about-portrait {
  max-width: 100%;
  height: 700px;
  border-radius: 8px;
  display: block;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  background-color: #333;
  margin-left: auto;
}

.site-title {
  font-size: 2rem;
  background-color: #333;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;

}

.site-container {
  background-color: #333;
  font-size: 20px;

}

.personal-container {
  color: #FFFFF0;
  margin-top: 100px;
  padding-left: 1rem;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.personal-title {
  font-size: x-large
}

.personal-name {
  font-size: 80px;
}

.project-container {
  padding: 2px 16px;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 1rem;
  color: #FFFFF0;
  background-color: rgba(255, 255, 255, 0.07);
  justify-content: center;
  min-height: 100vh;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: .5rem;
  width: .5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
  box-shadow: 0px 0px 5px #555;
}

.indicator-inactive {
  background-color: gray;
}

.slide-hidden {
  display: none;
}

.slide {
  max-width: 100%;
  height: 300px;
  border-radius: 8px;
  border-radius: 5px 5px 0 0;
  position:relative;
  z-index: 0;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555)
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.card {
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 5px;
  max-width: 500px;
  text-decoration: none;
  margin-top: 150px;
  height: 550px
}

.bottom-card {
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 4px 8px 0 #BB86FC;
  transition: 0.3s;
  background-color: #333;
  border-radius: 5px;
  max-width: 500px;
  text-decoration: none;
  transform: scale(1.01, 1.01);
}

a {
  color: #FFFFF0;
}

.about-topcontainer {
  color: #FFFFF0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.07);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-middlecontainer {
  color: #FFFFF0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.07);
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-card {
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 5px;
  text-align: left;
  max-height: 550px;
  max-width: 600px;
  padding: 20px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.about-smallerCard {
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 5px;
  text-align: left;
  max-height: 550px;
  max-width: 500px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 170px;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;

}

.about-title {
  text-align: center;
}

.home-card {
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 5px;
  text-align: center;
  max-height: 550px;
  max-width: 800px;
  padding: 20px;
}

.linkedin-icon {
  max-width: 100%;
  height: 20px;
  display: block;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  margin: auto;
}

.TE-icon {
  max-width: 100%;
  height: 20px;
  display: block;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  border-radius: 50%;
  margin: auto;
}

.software-icon {
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  margin: auto;
}

.TE-icon:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.linkedin-icon:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.icon-container {
  display: flex;
}

.not-found {
  background-color: #FFFFF0;
  min-height: 100vh;
}

.contact-card {
  box-shadow: 0 4px 8px 0 #000000;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 5px;
  text-align: center;
  max-height: 550px;
  max-width: 800px;
  padding: 20px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.email-container {
  display: flex;
}

.email {
  font-weight: bold;
}

.info {
  margin-left: 5px;
}

.phone-container {
  display: flex;
}

.phone {
  font-weight: bold;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

@media screen and (min-width: 2210px) {
  .nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
  }
  
  .about-portrait {
    max-width: 100%;
    height: 700px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #000000;
    transition: 0.3s;
    background-color: #333;
    margin-left: 180px;

  }

  .about-card {
    box-shadow: 0 4px 8px 0 #000000;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 5px;
    text-align: left;
    max-height: 550px;
    max-width: 600px;
    padding: 20px;
    margin-left: 180px;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

  .about-topcontainer {
    color: #FFFFF0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.07);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 10px;
  }

  .about-middlecontainer {
    color: #FFFFF0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.07);
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 10px;
  }

  .personal-container {
    margin-bottom: 500px;
  }

  .portrait {
    margin-left: 250px;
  }
}

@media screen and (max-width: 844px) {
  .nav {
    gap: 1rem;
  }

.about-portrait {
  max-width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: auto;
}
.about-card {
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: auto;
}

.about-smallerCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.about-title {
  font-size: medium;
}

.about-p {
  font-size: small;
}

.software-icon {
  max-width: 100%;
  height: 60px;
}

body {
  background-color: #121212;
  width:auto
}

.card {
  height: auto;
}

.VGD {
  max-width: 100%;
}

.project-title {
  font-size: x-large;
}

.project-p {
  font-size: medium;
}
}

@media screen and (max-width: 1633px) {
  .portrait {
    height: 500px;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: auto;
  }

  .personal-container {
    margin-bottom: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .home-card {
    margin: auto;
  }

  .portrait-container {
    display: flex;

  }

  .personal-title {
    font-size: larger;
  }

  .personal-name {
    font-size: xx-large;
  }

  .portrait-card{
    font-size: larger;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
  }

.about-portrait {
  max-width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.about-card {
  padding: 20px;
  font-size: medium;
  margin: auto;
}

.about-smallerCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.about-title {
  font-size: medium;
}

.about-p {
  font-size: small;
}

.software-icon {
  max-width: 100%;
  height: 60px;
}

body {
  background-color: #121212;
  width:auto
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.card {
  margin-top: 20px;
  margin-right:auto;
  margin-left: auto;
  margin-bottom: 20px;

}

.project-title {
  font-size: x-large;
}

.project-p {
  font-size: medium;
}


}

@media screen and (max-width: 1826px) {
  .portrait {
    height: 700px;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: auto;
  }

  .personal-container {
    margin-bottom: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .home-card {
    margin-left: 300px;
    margin-right: auto;
    margin-top: 100px;
  }

  .portrait-container {
    display: flex;

  }

  .personal-name {
    font-size: 56px;
  }

  .portrait-card{
    font-size: larger;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
  }

.about-portrait {
  max-width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.about-card {
  padding: 20px;
  font-size: medium;
  margin: auto;
}

.about-smallerCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.about-title {
  font-size: medium;
}

.about-p {
  font-size: small;
}

.software-icon {
  max-width: 100%;
  height: 60px;
}

body {
  background-color: #121212;
  width:auto
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.card {
  margin-top: 20px;
  margin-right:auto;
  margin-left: auto;
  margin-bottom: 20px;

}

.project-title {
  font-size: x-large;
}

.project-p {
  font-size: medium;
}


}

@media screen and (max-width: 912px) {
  .portrait {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  .personal-container {
    margin-bottom: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .home-card {
    margin: auto;
  }

  .portrait-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 280px)  {
  .portrait {
    height: 300px;
  }

  .personal-container{
    font-size: small;
  }

  .home-card {
    margin-left: auto;
    margin-right: auto;
  }

  .personal-name {
    font-size: x-large;
  }
  
  .portrait-card{
    font-size: small;
    margin-left: auto;
    margin-right: auto;
  }

  .about-portrait {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav {
    gap: 0.1rem;
    padding: 0%;
    margin: auto;
  }

  .linkedin-icon{
    max-width: 20px;
    gap: 0.1rem;
    margin: auto;

  }

  .TE-icon {
    max-width: 20px;
    gap: 0.1rem;
    margin: auto;
  }

  .site-container{
    font-size: medium;
  }

  .site-title {
    font-size:x-large;
  }

  .project-title {
    font-size: larger;
  }
  
  .project-p {
    font-size: small;
  }
}



